@model AGM.Models.Artist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.artist_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthday_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthday_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birth_place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birth_place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist_description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.artist_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
