<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AGM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AGM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Artists", "Index", "Artists")</li>
                    <li>@Html.ActionLink("Paitings", "Index", "Paitings")</li>
                    @if(Session["UserID"]!=null)
                    {
                        if (Session["RoleID"].Equals("1"))
                        {
                            <li>@Html.ActionLink("Users", "Index", "Users")</li>
                        }
                    }
                </ul> 
                @if (Session["UserID"] == null)
                {
                <ul class="nav navbar-nav navbar-right">

                    <li>@Html.ActionLink("Log-in", "Login", "Accounts")</li>
                    <li>@Html.ActionLink("Register", "Register", "Accounts")</li>
                </ul>
                }
                @if (Session["UserID"] != null)
                {
                    <p class="navbar-text navbar-right signin">Signed in as <a href="#" class="navbar-link">@Session["UserName"] </a></p>
                <ul class="nav navbar-nav navbar-right">
                   
                    <li>@Html.ActionLink("Log-Out", "LogOut", "Accounts")</li>
                    <li>@Html.ActionLink("MyAccount", "Details", "Users", new { id = Convert.ToInt32(Session["UserID"])},null)</li>
                </ul>  
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AGM</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
